.main {
  max-width: 901px;
  display: grid;
  grid-template-columns: 63.3% 36.7%;
  justify-content: center;
}

.apartment {
  margin-bottom: 75px;

  &__info {
    padding-bottom: 33px;
  }

  &__name {
    font-size: 36px;
    margin-bottom: 14px;
  }

  &-entire {
    font-size: 16px;
    color: #687c94;
    margin-bottom: 18px;
  }

  &-description {
    margin-bottom: 30px;
    line-height: 1.9;
  }

  &-contact {
    margin-bottom: 44px;
  }
}

.rooms {
  display: flex;
  margin-bottom: 32px;

  & :nth-child(-n+2) {
    margin-right: 30px;
  }
}

.amenities {
  font-weight: bold;

  &-items {
    width: 372px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  & :nth-child(odd) {
    margin-right: 20px;
  }

  &-item {
    width: 176px;
    margin-bottom: 20px;
  }

  &-show {
    font-weight: bold;
  }
}

.reviews {
  margin-top: 33px;

  &-title {
    font-weight: bold;
    margin-bottom: 34px;
  }

  &__data {
    display: flex;
    margin-bottom: 20px;
  }

  &__profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 21px;
  }

  &__profile-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-bold {
      font-weight: 600;
    }
  }

  &__profile-name :first-child() {
    margin-top: 4px;
  }

  &-text {
    line-height: 1.5;
    padding-bottom: 40px;
  }
}

.hosted {
  margin: 30px 0 25px;

  &-people {
    font-weight: bold;
    margin-bottom: 11px;
  }

  &__city-name {
    font-size: 14px;
    margin-bottom: 18px;
  }

  &-text {
    line-height: 1.5;
  }
}

.contact-host__button {
  width: 150px;
  height: 50px;
  color: #118488;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #118488;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;

  &:hover {
    background-color: #118488;
    color: #fff;
  }
}

.order {
  margin-right: 20px;

  &__price-night {
    margin-bottom: 39px;
  }

  &-input {
    height: 50px;
    border: 1px solid #e1e7ed;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 17px;
    outline: none;
    cursor: pointer;
  }

  &-input:focus,
  &-input:active {
    border: 1px solid #fd5c63;
  }

  &-form {
    display: flex;
    flex-direction: column;
    height: 320px;
    padding: 30px;
    background: #fff;
    border: 1px solid #e1e7ed;
    box-sizing: border-box;
    border-radius: 3px;
  }

  &-input--indent {
    margin-bottom: 16px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: inline-block;
    margin-top: 2%;
  }

  input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &-book__button {
    font-size: 18px;
    height: 50px;
    color: #fff;
    background-color: #fd5c63;
    border-radius: 4px;
    border: 1px solid #fd5c63;
    margin: 24px 0 8px;
    outline: none;
    cursor: pointer;
    transition: color 300ms, background-color 300ms;
  }

  &-book__button:hover {
    background-color: #fff;
    color: #fd5c63;
  }

  &__media {
    display: none;
    margin-right: 20px;
  }
}
