@media screen and (max-width: 1070px) {
  .footer,
  .apartment-container {
    margin-left: 20px;
  }
}

@media screen and (max-width: 730px) {
  .main {
    grid-template-columns: 90%;
  }

  .order {
    display: none;

    &__media {
      display: block;
      margin-bottom: 40px;
    }

    &__price-night {
      margin-bottom: 20px;
    }

    &-input {
      height: 40px;
    }

    &-form {
      height: 260px;
      padding: 30px;
    }

    &-input--indent {
      margin-bottom: 10px;
    }

    &-book__button {
      height: 40px;
    }
  }
}

@media screen and (max-width: 570px) {
  .nav__items {
    display: none;
  }

  .img_heigth {
    position: absolute;
    right: 20px;
  }

  .menu__hamburger {
    display: block;
    z-index: 99;
  }

  .apartment__name {
    font-size: 32px;
  }

  %text-size28 {
    font-size: 22px;
  }

  %text-size16 {
    font-size: 14px;
  }

  %text-size18 {
    font-size: 16px;
  }

  %text-size20 {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);

    &__airbnb,
    &__discover {
      margin-bottom: 30px;
    }

    &-item--media {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 440px) {
  .order__media {
    margin-right: 0;
  }

  .order-form {
    height: 250px;
    padding: 20px 15px;
  }
}

@media screen and (max-width: 400px) {
  .main {
    grid-template-columns: 80%;
  }

  .reviews__profile-photo {
    height: 40px;
  }
}

@media screen and (max-width: 370px) {
  .apartment-container {
    margin-left: 10px;
  }

  .apartment__name {
    font-size: 26px;
  }

  %text-size28 {
    font-size: 20px;
  }

  %text-size16 {
    font-size: 14px;
  }

  %text-size18 {
    font-size: 15px;
  }

  %text-size20 {
    font-size: 17px;
  }
}
