.text-size16 {
  @extend %text-size16;
}

.text-size18 {
  @extend %text-size18;
}

.text-size20 {
  @extend %text-size20;
}

.text-size28 {
  @extend %text-size28;
}

.text {
  font-size: 16px;
  line-height: 22px;
}
