@font-face {
  font-family: "Avenir-Light";
  src: url("../fonts/Avenir-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("../fonts/Avenir-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
