@import "utils";

@font-face {
  font-family: "Avenir";
  src: url("/src/Avenir.ttf"), format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-weight: 300px;
  font-family: "Avenir", sans-serif;
  color: #3d4e61;
}
